<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Your tree's profile</title>
 </head>
 <body>
   <h3> <%=@test%> </h3 >
   <h3> <%=@species%> </h3 >
   <h3> <%=@nickname%> </h3 >
   <h3> <%=@street%> </h3 >
   <h3> <%=@diameter%> </h3 >
   <h3> <%=@zip%> </h3 >
   
 
 </body>
</html>