<!DOCTYPE html>
<html>
<head>
<title>Your tree</title>
 <link rel="stylesheet" href="css/style.css">
 
  </head>
  
<body>
    <div id="wrapper">
        <div id="leftcolumn">
            <p>..........</p>
        </div>
        <div id="content">
           <p>    
    <h3> Name: <%=@nickname%> </h3 >
    <h3> Nickname: <%=@species%> </h3 >
    <h3>  Location: <%=@street%>/<%=@zip%> </h3 >
    <h3> Body-type: <%=@diameter%> in. </h3 > </p>
       </div>
    </div>
</body>
</html>


